<!--The content below is only a placeholder and can be replaced.-->
<div class="div-home">
<div class="div-header" >
  <h1>
    Welcome to myJKL!
  </h1>
  <h2>
    <mat-icon class="icon-android">android</mat-icon><a href="https://play.google.com/store/apps/details?id=com.mkdl.myjkl" target="_blank"> Download now</a>
  </h2>
  <img width="300" alt="Angular Logo" src="assets/ic_launcher.png">
</div>

<app-jkl-service></app-jkl-service>
<router-outlet></router-outlet>

<div class="div-header" >
<br>
<br>
<p>Contact: moitech24x7@gmail.com<br>
<a href="http://my-jkl.herokuapp.com/" target="_blank">Privacy policy</a></p>
</div>
</div>
